#flex_box{
  display: flex;
}
.ui.items{
  margin: 0 0 0 0.5em;
}
.card_user{
  max-height: 300px;
}
.home{
  display: flex;
}
.presentation
{
  flex: 3;
}
.tags
{
  flex: 1;
}
.projects{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}
.projects > div {
  flex: 3 0 30%;
  min-height: 250px;
  margin: 0.5%;
}
