<h1>List users</h1>

<div class="ui relaxed divided list animated" ng-controller="UserCtrl">
  <div class="item" ng-repeat="user in users">
    <i class="large github middle aligned icon"></i>
    <div class="content">
      <a class="header" ng-href="#/user/{{user.id}}">{{user.name}}</a>
      <div class="description">
        Gender : {{user.gender}} <br/>
        Age : {{user.age}} <br/>
        Investment : {{user.balance}}<br/>
        Created at : {{user.registered  | date:'yyyy-MM-dd'}}
      </div>
    </div>
  </div>
</div>
